<h1>Editing Add Password To User</h1>

<%= render 'form', add_password_to_user: @add_password_to_user %>

<%= link_to 'Show', @add_password_to_user %> |
<%= link_to 'Back', add_password_to_users_path %>
